.parent{
    height: 400px;
    background-color: rgb(109, 85, 95);
    width: 540px;


}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-color: rgb(10, 230, 131);
}
.names{
    font-size: larger;
    font-style: normal;
    
}
#profession{
    background-color: aqua;
    border: 1px;

}